* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
/* sidebar */
.sidebar {
  height: 100%;
  max-width: 319px;
  width: 100%;
  position: fixed;
  background-color: #222222;
}
.sidebar-top {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sidebar-nav-ul {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  list-style-type: none;
  align-items: center;
}
.sidebar-nav-li {
  max-width: 259px;
  width: 100%;
  padding: 15px 0px;
  margin-bottom: 14px;
  align-items: center;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}
.sidebar-nav-li:hover {
  background-color: #ff2288;
}

.sidebar-nav-li a {
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.sidebar-nav-li a img {
  margin-right: 10px;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: #fff;
  margin-left: 58px;
  cursor: pointer;
}
.sidebar-bottom h7 {
  font-size: 11px;
  margin-bottom: 25px;
}
.sidebar-bottom div {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.sidebar-bottom span {
  margin-left: 21px;
}
.sidebar-bottom p {
  margin-top: 16px;
}

/* header */
.header-box {
  margin-left: 319px;
  padding: 20px 0 30px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: #e2dddd solid 1px;
}
/* search-bar */

.search-bar {
  max-width: 446px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 12px;
}
#search-box {
  max-width: 370px;
  width: 100%;
  padding: 18px 0px 18px 18px;
  margin-right: 20px;
  border: none;
  border-radius: 12px;
  background-color: #f8f8f8;
}

.search-bar img {
  margin-right: 25px;
  cursor: pointer;
}
/* right-header-content */
.header-right-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-right-content {
  margin-right: 30px;
  font-size: 14px;
  cursor: pointer;
}
.header-right-content span:hover {
  color: #ff2288;
}
.header-right-content button {
  background-color: #ff2288;
  color: #fff;
  border-radius: 12px;
  padding: 18px 38px 18px 38px;
  border: none;
  cursor: pointer;
}

/* main section */

/* Section UL and Filters */
main {
  margin-left: 400px;
  margin-right: 170px;
}
.section-ul {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
  font-size: 16px;
}
.ul-wrapper ul {
  display: flex;
  list-style-type: none;
}
.ul-wrapper ul li {
  padding: 18px 19px;
}
.ul-wrapper ul li:hover {
  background-color: #f2f2f2;
  border-radius: 12px;
  cursor: pointer;
}

.filter-botton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  padding: 0 24px 0 24px;
  cursor: pointer;
}
.filter-botton button {
  background-color: #fff;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

/* Main content with pictures  */
.hover-for-pics {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
  z-index: 0;
}
.middle-basic-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.middle-basic-content-img {
  border-radius: 15px;
  z-index: 3;
}
.middle-basic-content-img:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.middle-basic-content h4 {
  max-width: 298px;
  width: 100%;
  padding: 16px 0 90px 0;
  color: black;
  font-size: 18px;
  cursor: pointer;
}
